/**
* A simple spinner shown on web app being loaded.
*/

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffeeeeee; /* Background color while loading */
}

.spinner-container {
    position: relative;
    width: 64px;
    height: 64px;
}

.spinner {
    border: 6px solid #1d6ca1; /* Spinner color */
    border-top: 6px solid transparent; /* Transparent border on top to create spinner effect */
    border-radius: 50%;
    width: 64px;
    height: 64px;
    animation: spin 1s linear infinite; /* Animation for spinning effect */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}