/**
* A spinner shown on web app being loaded.
*/

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  margin: 0;
  background-color: #dbdbdb;
}

.spinner1 {
  border: 5px solid rgba(0, 0, 0, 1);
  border-radius: 50%;
  border-top: 5px solid #c29a98;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* .spinner2 {
  width: 40px;
  height: 40px;
  background-color: #3498db;
  border-radius: 50%;
  display: inline-block;
  animation: bounce 2s infinite ease-in-out;
}

@keyframes bounce {
  0%, 100% { transform: scale(0); }
  50% { transform: scale(1); }
}

.spinner3 {
  width: 20px;
  height: 20px;
  background-color: #3498db;
  border-radius: 50%;
  display: inline-block;
  animation: bounce 1.4s infinite ease-in-out both;
}

@keyframes bounce {
  0%, 80%, 100% { transform: scale(0); }
  40% { transform: scale(1); }
} */